<div class="container mt-5 text-center">
  <h1>Consultations</h1>
  <%= month_calendar(events: @consultations) do |date, consultations| %>
    <div class="day py-2">
      <%= date %>
    </div>
    <% consultations.each do |consultation| %>
      <div class="card mt-3">
        <div class="card-header">
          <h5 class="card-title">
            <%= link_to consultation.title, consultation %>
          </h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= consultation.description %>
          </p>
        </div>
        <div class="card-footer">
          <p class="card-text text-muted">
            From: <%= consultation.start_time.strftime('%A, %B, %d, %Y,  at %I:%M %p') %>
          </p>
          <p class="card-text text-muted">
            To: <%= consultation.end_time.strftime('%A, %B, %d, %Y,  at %I:%M %p') %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
